/* weather */
.weather {
  @apply flex flex-1;
  @apply overflow-hidden;

  // weather-title
  &-title {
    @apply w-full mb-1;
    @apply text-base font-semibold;
  }

  // weather-today
  &-today {
    @apply overflow-hidden;
    @apply flex flex-1 flex-col items-center;

    &-con {
      @apply w-full;
      @apply flex-1 flex flex-wrap flex-row items-center justify-center;
    }

    &-box {
      @apply w-1/2 gap-8;
      @apply flex flex-none flex-row justify-center items-center;

      &__con {
        @apply w-[260px] max-w-full gap-1;
        @apply grid grid-cols-2 justify-center;
      }

      &__item {
        @apply w-full;
        @apply text-sm;
        @apply flex p-4 rounded;
        @apply bg-slate-100 dark:bg-stone-700;

        span {
          &:last-of-type {
            @apply flex-1;
            @apply text-center font-bold;
          }
        }
      }
      &__img {
        @apply flex flex-none flex-col items-center;
      }

      &__country {
        @apply text-2xl font-bold;
      }
    }

    &-img {
      @apply flex-none;
      @apply w-[80px] mb-4;
    }
  }

  // weather-time
  &-time {
    @apply max-w-full w-1/2;
    @apply flex flex-col justify-center items-center;

    &__con {
      @apply w-full h-[180px] pb-[20px];
    }

    canvas {
      @apply flex-none;
      @apply overflow-hidden;
    }
    &__icon {
      @apply w-full pl-4 pr-1;
      @apply flex flex-none justify-between;
    }
  }
}

/* media */
@media (max-width: 999px) {
  .weather-today-box {
    @apply flex-wrap;
  }
  .weather-time {
    &__con {
      @apply rounded;
      @apply max-w-[410px] py-4 px-2 pb-8;
    }
  }
}

@media (max-width: 500px) {
  .weather-time,
  .weather-today-box {
    @apply w-full;
  }
  .weather-today-box {
    @apply flex-col;
  }
}

@media (max-width: 300px) {
  .weather-today-box__item {
    @apply px-2 py-3 text-xs;
  }
}
