.weather {
  container: weather / inline-size;
  @apply flex flex-1 gap-4 overflow-hidden;

  &-today {
    @apply flex flex-col items-center gap-2;
    &-top {
      @apply flex items-center gap-6;
      &__img {
        @apply flex-none w-[100px];
      }
      &__text {
        @apply flex flex-col gap-2;
        p:first-of-type {
          @apply text-5xl font-bold;
        }
        p:last-of-type {
          @apply text-2xl;
        }
      }
    }
    &-middle {
      @apply flex gap-2 text-lg;
      span {
        @apply font-semibold;
      }
      p:first-of-type {
        span {
          @apply text-blue-500;
        }
      }
      p:last-of-type {
        span {
          @apply text-red-500;
        }
      }
    }
  }
}

@container weather (max-width: 1100px) {
}
