/* media */
.media {
  container: media / inline-size;
  @apply flex flex-col flex-1 w-full overflow-hidden min-h-[282px];

  &-title {
    @apply flex w-full justify-start text-base font-semibold mb-1;
  }
  .swiper {
    width: 100%;
    height: 100%;
    &-slide {
      @apply w-[160px] inline-flex flex-col;
      div {
        @apply w-full h-[230px] border rounded overflow-hidden;
        img {
          @apply w-full h-full object-cover transition-all duration-300;
        }
      }

      p {
        @apply truncate px-1;
      }

      &:hover {
        div {
          img {
            @apply scale-105;
          }
        }
      }
    }
  }
}

@media (max-width: 699px) {
  .media {
    @apply min-h-[212px];
    .swiper {
      &-slide {
        @apply w-[100px];
        div {
          @apply h-[160px];
        }
      }
    }
  }
}
