@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  @apply border-stone-200 dark:border-stone-700;
}

*::-webkit-scrollbar {
  @apply w-[10px] h-[10px];
}

*::-webkit-scrollbar-track {
  @apply bg-stone-100 dark:bg-stone-950;
}

*::-webkit-scrollbar-thumb {
  @apply bg-stone-400 dark:bg-stone-700 rounded;
}

body {
  @apply text-stone-900 dark:text-slate-200 bg-white dark:bg-stone-900;
  font-family: "SUITE-Regular", "sans-serif";
}

body:has(.header.active) {
  @apply overflow-hidden;
}

.blind {
  @apply absolute w-[1px] h-[1px] overflow-hidden;
  clip: rect(0 0 0 0);
}
