.main {
  @apply max-w-lg mx-auto p-lg mb-8 min-h-[calc(100vh-170px)];
}

/* main list */
.list-grid {
  @apply flex flex-col gap-[20px];

  &-item {
    @apply relative min-h-[250px] flex flex-col p-lg rounded border col-span-12 row-span-3 bg-white overflow-hidden;
    @apply dark:border-transparent dark:bg-stone-800;

    &:nth-of-type(n + 5) {
      @apply hidden;
    }
    &.edit {
      @apply cursor-move border-dashed opacity-100;
      * {
        @apply pointer-events-none;
      }
    }
    &.draging {
      @apply opacity-30;
    }
  }
}

.main-sub {
  @apply relative min-h-[calc(100vh-140px)] max-w-lg mx-auto py-8 px-lg;
}

@keyframes spinner_Oiah {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* edit modal */
.edit-modal {
  @apply fixed flex top-0 left-0 right-0 bottom-0 z-10;

  &-con {
    @apply relative z-10 flex flex-col gap-[20px] p-[20px] w-[340px] max-w-[calc(100%-20px)] h-[420px] bg-white m-auto border rounded;
    @apply dark:bg-stone-900;

    & > p {
      @apply break-keep;
    }
  }
  &-list {
    @apply flex-1 flex flex-col gap-[12px];
  }
  &-box {
    @apply h-[25%] min-h-0 overflow-hidden text-xl flex items-center justify-center bg-stone-100 cursor-move border border-dashed rounded;
    @apply dark:bg-stone-800;
    &.dragging {
      @apply bg-stone-200 dark:bg-stone-700;
    }
  }

  .list-save {
    @apply text-white font-semibold py-sm px-10 rounded bg-primary z-20 text-lg;
  }
  &-backdrop {
    @apply absolute top-0 left-0 w-full h-full bg-stone-900/50 backdrop-blur-lg;
  }
}

/* Loading */
.loading {
  @apply absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center text-2xl;

  svg {
    @apply w-[52px] h-[52px] fill-primary;
    g {
      transform-origin: center;
      animation: spinner_Oiah 0.75s linear infinite;
    }
  }
}

/* media */
@media (max-width: 999px) {
  .main {
    @apply min-h-[calc(100vh-210px)];
  }

  .main-sub {
    @apply min-h-[calc(100vh-176px)];
  }
}

/* edit mode */
body:has(.edit-modal) {
  // @apply grayscale overflow-hidden;
  @apply h-full overflow-hidden;
}
