/* news */
.news {
  container: news / inline-size;
  @apply flex flex-1 gap-4 overflow-hidden;

  & > div:first-of-type {
    @apply pr-4 border-r;
  }

  // news-box
  &-box {
    @apply w-[450px] flex flex-col flex-none gap-2 overflow-hidden;

    &-card {
      @apply flex flex-1 gap-2 overflow-hidden;
      &:hover {
        .news-box-card__img {
          img {
            @apply scale-105;
          }
        }

        .news-box-card__title {
          p {
            @apply underline;
          }
        }
      }

      &__img {
        @apply flex-none w-[200px] h-full border rounded overflow-hidden;
        img {
          @apply w-full h-full object-cover object-bottom transition-all;
        }
      }

      &__title {
        @apply flex-1 flex flex-col justify-between;
        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        div {
          @apply flex flex-col items-end text-sm text-stone-500;
        }
      }
    }
  }

  // news-list
  &-list {
    @apply flex flex-col flex-1 overflow-auto divide-y;
    &-item {
      @apply flex-1 text-sm px-1 bg-list hover:bg-listHover hover:dark:bg-listHoverDark;
      &__title {
        @apply flex h-full gap-2 justify-between items-center;
        span {
          &:first-of-type {
            @apply truncate flex-1;
          }
          &:last-of-type {
            @apply flex-none w-[110px] truncate;
          }
        }
      }
    }
  }
}

// container
@container news (max-width:799px) {
  .news-box {
    @apply hidden;
  }

  .news-list {
    @apply text-sm;
  }
}

@container news (max-width:499px) {
  .news-list-item__title span:last-of-type {
    @apply hidden;
  }
}
