/* ani */
.ani {
  container: ani / inline-size;
  @apply flex flex-1 gap-4 overflow-hidden;

  & > div:first-of-type {
    @apply pr-4 border-r;
  }

  /* ani-box */
  &-box {
    @apply flex flex-col h-full flex-none w-1/2 min-w-[380px];
    &-con {
      @apply grid grid-cols-4 grid-rows-2 flex-1 overflow-hidden gap-2;
    }

    &-card {
      @apply col-span-1 row-span-2 flex-1 flex-col;

      &:hover {
        .ani-box-card__img {
          img {
            @apply scale-105;
          }
        }

        p {
          @apply underline;
        }
      }

      &__img {
        @apply h-[calc(100%-40px)] overflow-hidden border rounded;
        img {
          @apply w-full h-full object-cover transition;
        }
      }

      p {
        @apply h-[40px] text-sm flex-none;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

  /* ani-list */
  &-list {
    @apply flex-1 flex flex-col overflow-hidden;
    &-con {
      @apply flex flex-col flex-1 overflow-auto divide-y;
    }

    &-item {
      @apply px-1 flex justify-between items-center flex-1 text-sm bg-list hover:bg-listHover hover:dark:bg-listHoverDark;

      &__title {
        @apply h-auto truncate;
      }
    }
  }
}

/* container */
@container ani (max-width: 1100px) {
  .ani-box-card {
    @apply col-span-2 row-span-1;
  }
}

@container ani (max-width: 700px) {
  .ani-box {
    @apply hidden;
  }
}
